.container-compatitor-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: .7rem;
    position: relative;
    width: 90vw;
    height: auto;
    top: 8rem;
}

.module-compatitor {
    width: 30vw;
    height: 80px;
}

.module-compatitor.group-a {}

.module-compatitor.group-b {
    justify-self: self-end;
}

.module-point-left {
    width: 13vw;
    height: 70px;
    position: absolute;
    right: 26.5vw;
    bottom: 0;
}

.module-point-right {
    width: 13vw;
    height: 70px;
    position: absolute;
    left: 26.5vw;
    bottom: 0;
}