.question-viewer-data-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #0008;
    top: -12vh;
    left: -10vw;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.module-panel-viewer-data{
    width: 900px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    z-index: -1;
}

.viewer-data-content{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 20vh;
}

.question-viewer-data-container > .question-game{
    position: relative;
    width: 800px;
    top: -4vh;
}

.question-viewer-data-container > .question-game > p{
    font-size: 1.2rem;
    width: 50%;
}

.question-viewer-data-container > .question-game > .module-question{
    width: 100%;
    height: 100%;
}

.display-question-viewer-box-close{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../../resources/modulo_competidor_abajo.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    width: 250px;
    transition: .3s ease-in-out;
}

.display-question-viewer-box-close:hover{
    scale:1.1;
    cursor: pointer;
}